* {
  margin: 0%;
  padding: 0%;
}

main {
  width: 100%;
}
.margin_top {
  margin-top: 30px;
}
@font-face {
  font-family: "futura std heavy";
  src: url("/fonts/FuturaStdHeavy.woff") format("woff");
}
@font-face {
  font-family: "futura std book";
  src: url("/fonts/FuturaStdBook.woff") format("woff");
}
/* 
main content first row css */

.glasses_container {
  width: 100%;
}
.glasses img {
  width: 100%;
}
.glasses {
  font-size: 16px;
  padding: 20px;
  width: 90%;
  margin: auto;
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}
.glasses li {
  padding: 18px;
  background-color: rgb(250, 250, 250);
  width: 11vw;
  height: 16vh;
  border-radius: 8px;
}

.dropdown_card {
  width: fit-content;
  position: relative;
}

.dropdown_card:hover .dropdown_window {
  display: block;
  margin-left: -2.6vw;
  box-shadow: 2px 2px 8px rgba(172, 171, 171, 0.76);
}
.dropdown_window {
  top: 0%;
  position: absolute;
  z-index: 10;
  display: none;
  width: 230px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
}
.dropdown_window_1 {
  width: 135px;
  height: 110px;
  padding: 1rem;
}
.dropdown_window_2 table {
  width: 100%;
  border-collapse: collapse;
}

.dropdown_window_2 table td {
  border-top: 1px solid rgba(177, 175, 175, 0.692);
  padding: 0px 5px;
}
.dropdown_window_2 table td div {
  padding: 15px 10px 0px 0px;
}

.dropdown_window_2 table tr:hover {
  background-color: rgb(245, 245, 245);
}
.viewall_link {
  text-decoration: none;
  color: rgb(6, 180, 166);
  padding: 10px 5px;
}

/* lenskart main carousel css */

.carousel {
  width: fit-content;
  height: fit-content;
}
.carousel img {
  width: 100%;
  position: relative;
}
.fdbtn {
  position: absolute;
  height: 50px;
  width: 45px;
  background-color: black;
  z-index: 10;
  right: 2%;
  margin-top: 5%;
}
.bdbtn {
  position: absolute;
  height: 50px;
  width: 45px;
  background-color: black;
  z-index: 10;
  left: 2%;
  margin-top: 5%;
}
.white {
  color: white;
}

.banner_1 {
  margin: 20px auto 20px auto;
}
.banner_1 img {
  width: 100%;
}

.style_guides {
  margin: 50px auto 20px auto;
  height: fit-content;
  border: black;
}
.style_guides h1 {
  font-family: "futura std heavy";
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}
.poster img {
  width: 100%;
}

.banner_2,
.banner_3 {
  height: fit-content;
  margin: 20px auto;
}
.banner_2 img,
.banner_3 img {
  width: 100%;
}

.banner_4 {
  background-color: rgb(255, 184, 158);
  width: 96%;
  height: fit-content;
  margin: 20px auto 20px auto;
  display: grid;
  grid-template-columns: auto 30% auto;
  padding: 15px 0px;
  overflow-x: hidden;
}
.frame_1,
.frame_3 {
  height: fit-content;
  width: fit-content;
}
.frame_1 img,
.frame_3 img {
  width: 100%;
}

.banner_4 iframe {
  width: 100%;
  padding: 0%;
  margin: 0%;
  border-radius: 25px;
  border: 2px solid gray;
}

.tollfree p {
  margin: 20px 0px;
  letter-spacing: 1px;
  font-family: "futura std book";
  text-align: center;
  font-size: x-large;
}
.insta {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta h2 {
  letter-spacing: 3px;
  color: rgb(68, 89, 98);
  font-family: "futura std heavy";
}
.insta button {
  margin-top: 20px;
  background-color: rgb(59, 159, 149);
  color: white;
  font-weight: bold;
  font-family: "futura std heavy";
  border: none;
  padding: 10px 25px;
}

.computer_glass {
  margin: 100px auto 10px auto;
}

.computer_glass p {
  margin: auto;
  width: fit-content;
}
.heading {
  display: flex;
  width: 45%;
  margin: auto;
  justify-content: space-around;
}
.heading:nth-child(n) {
  letter-spacing: 4px;
}
.heading h3 {
  font-family: "futura std heavy";
  color: rgb(68, 89, 98);
}

.heading p {
  font-family: "futura std book";
  font-size: large;
  color: rgb(50, 156, 174);
}
.computer_glass > p {
  letter-spacing: 2px;
  font-family: "futura std book", "helvetica neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: small;
  padding: 1%;
}

.product_slider_container {
  height: fit-content;
  margin: 20px auto;
  position: relative;
  overflow-x: hidden;
}

.slide_left,
.slide_right {
  position: absolute;
  top: 30%;
  z-index: 10;
  font-size: 2vw;
  width: fit-content;
  height: fit-content;
}

.slide_right {
  display: none;
  right: 0%;
}
.product_slider {
  transition: transform 0.5s ease-out;
  width: fit-content;
  display: grid;
  grid-template-columns: 28vw 28vw 28vw 28vw 28vw 28vw;
}
.product_slider img {
  width: 80%;
  padding-inline: 4rem;
}

.view_btn_container {
  margin: auto;
  text-align: center;
}
.view_btn {
  margin: 30px auto;
  background-color: rgb(59, 159, 149);
  color: white;
  font-weight: bold;
  font-family: "futura std heavy";
  border: none;
  padding: 10px 20px;
  align-self: center;
}
